.nodeRow {
  height: 1.5vw;
}

.buttonbar {
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  margin: 2vw 0;
}

.key {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.key p {
  width: 14vw;
  font-size: 2vw;
}

.link  {
  text-decoration: none;
  color: rgb(0, 192, 192);
  font-size: 1.5vw;
  transition: transform .2s;
}

.link:hover {
  color: aqua;
  transform: scale(1.3);
}

.grid_container {
  margin: 10vh 0;
}


@media screen and (max-width: 530px) {
  .link {
    margin: 0 2vw;
  }
}

@media screen and (max-width: 420px) {
  .grid{
    transform: rotate(90deg);
    height: 36vw;
  }

  .grid_container{
    display: flex;
    justify-content: center;  
    align-items: center; 
    height: 76vw; 
    width: 100vw;
  }

  .buttonbar {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 12vh;
    width: 100vw;
    flex-wrap: wrap;
    margin: 2.5vh 0;
  }
}